<h2>Viewing project</h2>

<h2>Project name: <%= @project.project_title %></h2>
	
	
<p>Project description: <%= @project.project_description %>	</p>
	
	
<p>Project budget: <%= @project.project_budget %></p>
	
<p>This project was created by: <%= @project.created_by %></p>


<hr>
<% if @project.created_by == current_user.email  %>
	<%= link_to "Edit project", edit_project_path(@project) %>
<% else %>
	
<% end %>
<%= link_to "All Projects", projects_path %>